# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
**/node_modules
**/bower_components

# Secrets
**/.git
**/.DS_Store
**/.history
**/*.env
**/*.env.*
!**/*.example

# Development
/coverage

# Deployment
**/build
**/dist
**/*.min.*
**/*.bundle.*
**/*.map.js

# Temporary files
**/tmp
**/temp
**/backup
**/cache
**/logs
**/*.log
**/*.old
**/*.bak
